
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test
.env.production

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# nuxt 
.nuxt
dist

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
